---
title: "Passez sur MATRIX !!"
date: 2021-05-20T16:05:45+02:00
draft: false
---




{{% matrix_header %}}


<div class="">
    <div class="content is-medium">


        <h2 class="">
            Pourquoi ?
        </h2>

        {{% matrix_explain %}}
        {{% matrix_app %}}
        {{% matrix_server %}}

        <div class="block notification content">

            <p>Maintenant, vous devez entrer le nom du serveur dans auquel votre compte sera rattaché. (vos messages
                seront stockés sur ce serveur mais vous pouvez toujours parler aux personnes sur d'autres serveurs.
                Comme les mails.)
                Vous avez le choix entre 3 serveurs :
            </p>
            <p><a target="_blank" href="https://matrix.merlettes.net"><strong> merlettes.net </strong></a> -
                Administrateur : Marc</p>
            <p><a target="_blank" href="https://matrix.ccc-zone.net"><strong> ccc-zone.net </strong></a> -
                Administrateur : Marc</p>
            <p><a target="_blank" href="https://matrix.carnot.cc"><strong>carnot.cc</strong></a> - Administrateur :
                Henri </p>
        </div>

        Vous y êtes ? Envoyez-moi
        un message que je vous rajoute dans le groupe ;)

        <div class="buttons">
            <a class="button is-success" target="_blank"
                href="https://matrix.to/#/@henri2h:carnot.cc.<i class="cc cc-by"></i>">Envoyez moi un
                message</a>

            <a class="button is-info" target="_blank" href="https://matrix.to/#/@marc:crouy-chanel.net">ou a
                Marc</a>
        </div>

        <h2 class="title"> MatrixID ? Quesako ?</h2>
        <p>Comme une addresse mail, un id matrix comporte le nom d'utilisateur et le serveur sur lequel le
            compte est stocké. Il est de la forme
            (toute simple !) :
        </p>

        <div class="block notification">
            <strong>@username:nom_du_serveur</strong>
        </div>

        {{% matrix_advanced %}}

        {{% matrix_footer %}}

    </div>
</div>