---
title: "La rez passe sur MATRIX"
date: 2021-05-20T16:05:45+02:00
draft: false
---

{{% matrix_header %}}

<div class="content is-medium">


    <section class="section is-medium">
        <h2 class="title">
            Pourquoi ?
        </h2>

        <p>
            <span class="tag is-info is-large has-text-weight-bold">FOURNI PAR L'ECOLE</span>
        </p>

        <p id="explain" class="has-text-justified"> Plus besoin d'utiliser 3600
            applications, messenger, discord... une seule suffit pour retrouver toutes les personnes des Mines
            de Saint-Étienne.
            Pas besoin de se créer un compte. Vous en avez un par défaut. Il suffit de spécifier que vous voulez
            utiliser le serveur matrix.emse.fr (voir plus bas)</p>
    </section>

    {{% matrix_explain %}}


    {{% matrix_app %}}


    {{% matrix_server %}}

    <section class="section">
        <div class="block">
            <div class="  notification is-info">
                <div class="icon-text">
                    <span class="icon">
                        <i class="fas fa-info-circle"></i>
                    </span>
                    <span>Puis entrez : <strong>matrix.emse.fr</strong> sur la seconde page.</span>
                </div>
            </div>
        </div>

        <p> Vous y êtes ?</p>

        <div class="buttons">
            <a class="button is-success" target="_blank"
                href="https://matrix.to/#/!SxisolTUiXOuQcKbtg:emse.fr?via=emse.fr&via=matrix.org&via=carnot.cc">Rejoignez
                la conv principale</a>
            <a class="button is-success" target="_blank" href="https://matrix.to/#/+ismin:emse.fr">Rejoignez
                la communauté ISMIN</a>


        </div>

        <p>En cas de doute</p>

        <div class="buttons">
            <a class="button is-info" target="_blank" href="https://matrix.to/#/@henri2h:carnot.cc">Contactez
                moi</a>
        </div>
        <h2 class="title"> MatrixID ? Quesako ?</h2>
        <p>Comme une addresse mail, un id matrix comporte le nom d'utilisateur et le serveur sur lequel le
            compte est stocké.
        </p>

        <div class="block notification">
            Il est de la forme
            <strong>@prenom.nom:emse.fr</strong>
        </div>

    </section>

    {{% matrix_advanced %}}

    {{% matrix_footer %}}

</div>