<!DOCTYPE html>
<html>
{{- partial "head.html" . -}}

<body itemscope>
  {{- partial "header.html" . -}}

  <section id="main">
    <div id="content">
      {{- block "main" . }}{{- end }}
    </div>
  </section>
  
  {{- partial "footer.html" . -}}
</body>

</html>