{{ define "main" }}

<section class="hero is-info">
    <div class="hero-body">
        <p class="title is-2">
            {{ .Title }}
        </p>
    </div>
</section>

<section class="container">
    {{ .Content }}
</section>


{{ end }}