<section class="section">

    <h2 class="title">Petit guide pour l'encryption E2EE</h2>


    <div class="block notification is-info">
        <h2 class="title is-4">La sauvegarde sécurisée quesako ?</h2>
        <p class="block">
            Pour éviter que le serveur déchiffre nos message, on ne peut pas téléverser nos clefs de chiffrement sur le
            serveur
            sans
            protection.
        </p>

        <span class="icon-text">
            <span class="icon">
                <i class="fas fa-arrow-right"></i>
            </span>
            <span>MATRIX utilise un système de sauvegarde sécurisée des clefs de chiffrement. Les clefs
                permettant de déchiffrer les messages sont échangées entre les appareils vérifiés (voir plus
                bas).</span>
        </span></p>

        <div class="icon-text">
            <span class="icon has-text-warning">
                <i class="fas fa-exclamation-triangle"></i>
            </span>
            <span>Un mot de passe différent de celui du login est nécessaire pour protéger celles-ci. (sinon le serveur
                pourraît lire vos messages).</span>
        </div>
    </div>


    <p> <span class="icon-text">
            <span><strong>Pour aller plus loin</strong></span>
            <span class="icon">
                <i class="fas fa-arrow-right"></i>
            </span>
            <span> L'E2EE est assurée par Olm, une implémentation du <span class="is-italic">'Double Rachet
                    cryptographic rachet'</span> displonible
                sur <a target="_blank" href="https://gitlab.matrix.org/matrix-org/olm">le gitlab de matrix</a>.</span>
        </span></p>

    <p class="block">
        Nous allons donc voir comment mettre en place cette fameuse sauvegarde sécurisée.
    </p>



    <h2 class="">Mise en place de la sauvegarde sécurisée</h2>
    <div class="columns is-vcentered">
        <div class="column">
            <img class="block" src="../img/E2EE/e2e_secure_storage_2_ways.png" style="max-height: 800px;" />
        </div>
        <div class="column">
            <div class="card">
                <div class="card-content">
                    <div class="content">

                        <h2 class="title is-4 py-2"> <span class="tag is-success is-large has-text-weight-bold">
                                E2EE</span> - Mise en place de la sauvegarde sécurisée</h2>

                        <p>
                            Lors du lancement du processus de vérification depuis l'appareil sur lequel on est en train
                            de se connecter, une notification vas s'afficher sur chacun des autres appareils connectés.
                        </p>

                        <p>Il suffit de cliquer sur la notification dans l'appli (ou le site) et se
                            laisser guider.</p>
                        <span class="icon-text">

                            <span class="icon">
                                <i class="fas fa-arrow-right"></i>
                            </span>
                            <span>En cas de perte de la clef de sécurité, vous ne pourrez plus déchiffrer vos messages
                                encryptés lors d'éne nouvelle connexion sauf si vous disposez encore d'un appareil
                                vérifié. Dans ce cas, il vous faudra réinitialiser votre sauvegarde sécurisée.</span>
                        </span>

                    </div>
                </div>
            </div>
        </div>
    </div>


    <section>
        <h2 class="title">Se connecter avec plusieurs appareils</h2>

        <div class="content">
            <h4 class="title py-2"> <span class="tag is-success is-large has-text-weight-bold">
                    E2EE</span> - Options de vérifications</h4>

            <p>Une fois la sauvegarde sécurisée initialisée, vous pouvez connecter d'autres appareils. Lors d'une
                nouvelle connexion, le nouvel appareil vas demander les clefs
                de chiffrement. Pour
                cela, deux choix s'offres à nous.</p>
            <p><span><span class="has-text-weight-bold">1.</span> Utiliser la clef de sécurité ou le mot de
                    passe de la sauvegarde
                    sécurisée.</span><br />
                <span><span class="has-text-weight-bold">2. [ Méthode conseillée ]</span> Vérifier cette connexion avec
                    un appareil
                    vérifié (qui à déjà accès aux clefs
                    d'encryption).</span>
            </p>
        </div>
        <div class="content">
            <h4 class="title py-2"> <span class="tag is-success is-large has-text-weight-bold">
                    E2EE</span> - Vérification à l'aide de la clef de sécurité</h4>
            <p>Entrez votre clef de sauvegarde ou votre mot de passe et ... voilà !!</p>
        </div>

        <div class="columns is-vcentered">
            <div class="column">
                <img class="block" src="../img/E2EE/e2e_alert.png" style="max-height: 800px;" />
            </div>
            <div class="column">
                <div class="card">
                    <div class="card-content">
                        <div class="content">
                            <h4 class="title  py-2"> <span class="tag is-success is-large has-text-weight-bold">
                                    E2EE</span> - Vérification à l'aide d'un appareil connecté</h3>


                                <p>Lors du lancement du processus de vérification pendant la connexion d'un nouvel
                                    appareil, une notification vas s'afficher sur chacun des autres appareils
                                    connectés.
                                </p>


                                <p class="icon-text">
                                    <span class="icon">
                                        <i class="fas fa-info-circle"></i>
                                    </span>

                                    Pour lancer le processus de vérification, il n'y a qu'a cliquer sur la notification.
                                </p>

                                <p class="icon-text">
                                    <span class="icon">
                                        <i class="fas fa-info-circle"></i>
                                    </span>

                                    Vous pouvez voir la liste de vos session verifiées en
                                    cliquant
                                    sur n'importe quel <span class="has-text-weight-bold">conversation -> membres ->
                                        votre
                                        profil</span>. La liste des sessions non
                                    verifiées seront en rouge avec un bouclier de la même couleur devant.
                                </p>

                                <p class="icon-text">

                                    <span class="icon">
                                        <i class="fas fa-arrow-right"></i>
                                    </span>
                                    <span>Il est nécessaire d'avoir accès à un des appareils connecté à son compte pour
                                        pouvoir
                                        utiliser cette méthode.</span>
                                    </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="columns is-vcentered">
            <div class="column">
                <img class="block" src="../img/E2EE/e2e_devie_verification.png" style="max-height: 800px;" />
            </div>
            <div class="column">



                <div class="card">
                    <div class="card-content">
                        <div class="content">


                            <p>Il n'y a plus qu'à en allumer un, cliquer sur la notification dans l'appli (ou le site)
                                et se
                                laisser guider.</p>


                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

</section>