<section class="section">
        <h2>Plus d'infos</h2>
        <ul>
                <li><a href="https://matrix.org/docs/guides/introduction">Introduction</a></li>
                <li><a href="https://hacks.mozilla.org/2018/10/dweb-decentralised-real-time-interoperable-communication-with-matrix/">Petite
                                explication de la part de mozilla</a></li>
                <li><a target="_blank" href="https://t.co/7zxczdjwwJ?amp=1">Comparaison des différent protocoles de
                                communication</a></li>

                <li><a target="_blank" href="https://matrix.org/blog/2020/01/02/on-privacy-versus-freedom">Petit
                                billet
                                intéressant au sujet de la relation entre MATRIX et SIGNAL</a></li>
        </ul>
</section>