<section class="section">
    <h2 class="title">Quel serveur choisir ?

        Sélectionnez le bouton montré par l'image qui suit :

        <div class="columns">
            <div class="column">
                <h2 class="title is-3">Pour Android</h2>
                <img class="block" src="../img/android_login.png" style="max-height: 800px;" />
            </div>
            <div class="column">
                <h2 class="title is-3">Pour IOS</h2>
                <img class="block" src="../img/ios_login.jpg" style="max-height: 800px;" />
            </div>
        </div>
</section>