<style>
    .networkLink {
        stroke: #ccc;
        stroke-width: 3px;
    }

    #diagram {
        max-width: 680px;
        width: 100%;
    }
</style>

<div class="section">
    <div class="columns is-vcentered">
        <div class="column">
            <img src="../img/matrix-logo.svg" />

        </div>
        <div class="column">

            <div class="tags">
                <span class="tag is-info is-large">OPEN SOURCE</span>
                <span class="tag is-info is-large">SECURISÉ</span>
                <span class="tag is-info is-large">DÉCENTRALISÉ</span>
                <span class="tag is-info is-large">TEMPS RÉEL</span>
            </div>
            <div class="buttons">
                <a class="button is-fullwidth is-medium is-success" href="#app">Quelle application ?</a>
                <a class="button is-fullwidth is-medium" target="_blank" href="https://matrix.org">Le site officiel</a>
            </div>
        </div>
    </div>
</div>