<div class="section">
    <div class="columns is-vcentered">
        <div class="column">

            <svg id="diagram" width="100%" height="100%" viewBox="0 0 680 480">
                <g transform="scale(1)">
                    <path class="networkLink" id="link_a_b" d="M275.05,240 404.95,165"></path>
                    <path class="networkLink" id="link_b_c" d="M404.95,165 420.15427692201797,336.9351287964623">
                    </path>
                    <path class="networkLink" id="link_a_c" d="M275.05,240 420.15427692201797,336.9351287964623">
                    </path>
                    <path class="networkLink" id="link_a_a1" d="M275.05,240 160.71753134077284,257.06242578182867">
                    </path>
                    <path class="networkLink" id="link_b_b1" d="M404.95,165 448.9000340036808,57.63990412265072">
                    </path>
                    <path class="networkLink" id="link_c_c1"
                        d="M420.15427692201797,336.9351287964623 490.6278204988129,428.3360549924378">
                    </path>
                    <g class="networkNode" transform="translate(275.05,240)">
                        <g transform="translate(-50, -50)">
                            <circle cx="50" cy="50" r="50" style="fill: rgb(255, 221, 221);"></circle><text dx="50"
                                dy="-10" style="fill: rgb(166, 83, 83);" text-anchor="middle">matrix.alice.com</text>
                        </g>
                        <circle r="0" style="fill: rgb(238, 119, 119);"></circle>
                        <title>matrix.alice.com</title><text dx="24" dy="0" style="fill: rgb(166, 83, 83);"
                            text-anchor=""></text>
                    </g>
                    <g class="networkNode" transform="translate(404.95,165)">
                        <g transform="translate(-50, -50)">
                            <circle cx="50" cy="50" r="50" style="fill: rgb(221, 255, 221);"></circle><text dx="25"
                                dy="-10" style="fill: rgb(83, 166, 83);" text-anchor="middle">matrix.bob.com</text>
                        </g>
                        <circle r="0" style="fill: rgb(119, 238, 119);"></circle>
                        <title>matrix.bob.com</title><text dx="24" dy="0" style="fill: rgb(83, 166, 83);"
                            text-anchor=""></text>
                    </g>
                    <g class="networkNode" transform="translate(420.15427692201797,336.9351287964623)">
                        <g transform="translate(-50, -50)">
                            <circle cx="50" cy="50" r="50" style="fill: rgb(221, 221, 255);"></circle><text dx="125"
                                dy="-10" style="fill: rgb(83, 83, 166);" text-anchor="middle">matrix.charlie.com</text>
                        </g>
                        <circle r="0" style="fill: rgb(119, 119, 238);"></circle>
                        <title>matrix.charlie.com</title><text dx="24" dy="0" style="fill: rgb(83, 83, 166);"
                            text-anchor=""></text>
                    </g>
                    <g class="networkNode" transform="translate(160.71753134077284,257.06242578182867)">
                        <circle r="20" style="fill: rgb(255, 170, 170);"></circle>
                        <title>@alice:alice.com</title><text dx="-24" dy="0" style="fill: rgb(178, 118, 118);"
                            text-anchor="end">@alice:alice.com</text>
                    </g>
                    <g class="networkNode" transform="translate(448.9000340036808,57.63990412265072)">
                        <circle r="20" style="fill: rgb(170, 255, 170);"></circle>
                        <title>@bob:bob.com</title><text dx="24" dy="0" style="fill: rgb(118, 178, 118);"
                            text-anchor="">@bob:bob.com</text>
                    </g>
                    <g class="networkNode" transform="translate(490.6278204988129,428.3360549924378)">
                        <circle r="20" style="fill: rgb(170, 170, 255);"></circle>
                        <title>@charlie:charlie.com</title><text dx="24" dy="0" style="fill: rgb(118, 118, 178);"
                            text-anchor="">@charlie:charlie.com</text>
                    </g>
                </g>
            </svg>


        </div>

        <div class="column">
            <div class="card">
                <div class="card-content">
                    <div class="content">
                        <p>
                            <span class="tag is-info is-large has-text-weight-bold">DECENTRALISATION</span>
                        </p>
                        <p> Les données sont
                            stockées sur un serveur que vous pouvez choisir.<br>C'est un des points de divergence majeur
                            avec les applications concurrentes qui forcent à utiliser leur
                            serveurs.<br>
                        </p>
                        <p>Minimisez les métadonnées utilisées pour créer un compte. Souvent, seule une addresse mail est
                            nécessaire (ou juste un username si vous avez votre serveur)</p>

                        <span class="icon-text">
                            <span class="icon">
                                <i class="fas fa-arrow-right"></i>
                            </span>
                            <span>Choissisez le serveur qui vous plaît sans renoncer à contacter les utilisateurs
                                d'autres serveurs.
                            </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="section">
    <div class="columns is-vcentered is-centered ">
        <div class="column is-one-fifth ">
            <img class="image" src="../img/basic_lock.svg" />
        </div>
        <div class="column">
            <div class="card">
                <div class="card-content">
                    <div class="content">
                        <p>
                            <span class="tag is-success is-large has-text-weight-bold"> E2EE</span> (End to End
                            Encryption)
                        </p>
                        <p>
                            Chiffrement de bout en bout.
                        </p>
                        <span class="icon-text">

                            <span class="icon">
                                <i class="fas fa-arrow-right"></i>
                            </span>
                            <span>Les serveurs stockant vos données ne peuvent pas les déchiffrer.</span>
                        </span>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="section">
    <div class="columns is-vcentered">

        <div class="column">
            <div class="card">
                <div class="card-content">
                    <div class="content">

                        <p> <span class="tag is-info is-large has-text-weight-bold">OPEN SOURCE</span></p>
                        <p>La spécification du protocole est open source. Celle-ci est contrôlée par une fondation est en
                            libre accès.
                        </p>
                        <p>Une communauté très active pour une technologie encore très jeune !
                        </p>
                        <p> <span class="icon-text">
                                <span class="icon">
                                    <i class="fas fa-arrow-right"></i>
                                </span>
                                <span>Contribuez à la specification sur <a target="_blank"
                                        href="https://github.com/matrix-org/matrix-doc">github</a>.</span>
                            </span></p>

                        <p> <span class="icon-text">
                                <span class="icon">
                                    <i class="fas fa-arrow-right"></i>
                                </span>
                                <span>Trouvez l'<a target="_blank"
                                        href="https://matrix.org/docs/projects/try-matrix-now/#clients">application qui
                                        vous convient</a>.</span>
                            </span></p>

                    </div>
                </div>
            </div>
        </div>

        <div class="column">
            <img src="../img/open_source.png" />
        </div>

    </div>
</div>

<div class="section is-hidden">
    <div class="columns is-vcentered">

        <div class="column">
            <div class="card">
                <div class="card-content">
                    <div class="content">

                        <p>
                            <span class="tag is-warning is-large has-text-weight-bold">EUROPEEN</span>
                        </p>
                        <p>Du fait de la question de la législation
                            américaine sur la question de l'export de matériel d'encryption, ce critère là est crucial !
                            Le protocole d'encryption de MATRIX est stocké sur des serveurs européens à cause de ça !!
                            <a target="_blank" href="https://gitlab.matrix.org/matrix-org/olm">Lien vers le code</a>

                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="column">
            <img src="../img/europa_flag.jpg" />
        </div>
    </div>
</div>
