<section class="section">

    <p id="app"><span class="tag is-success is-à has-text-weight-bold">LIBRE DE CHOISIR SON APPLICATION</span></p>

    <p>
        La force de MATRIX c'est que c'est open source. On est donc libre de choisir l'application que
        l'on préfère !
    </p>

    <p> <span class="icon-text">
            <span class="icon">
                <i class="fas fa-arrow-right"></i>
            </span>
            <span>Pas besoin d'avoir un télephone pour utiliser MATRIX !</a></span>
        </span></p>

    <p> <span class="icon-text">
            <span class="icon">
                <i class="fas fa-arrow-right"></i>
            </span>
            <span>Trouvez l'<a target="_blank"
                    href="https://matrix.org/docs/projects/try-matrix-now/#clients">application
                    qui
                    vous convient</a>.</span>
        </span></p>


    <div class=" section">
        <p class="has-text-weight-medium">Pour plus de simplicité, je vous conseille d'utiliser en premier lieu
            l'application mobile puis la version web. (Plus facile pour ajouter d'autres appareils
            ensuite)</p>
        <a target="_blank" href="https://play.google.com/store/apps/details?id=im.vector.app" rel="nofollow"><img
                src="https://github.com/vector-im/element-android/raw/develop/resources/img/google-play-badge.png"
                alt="Get it on Google Play" style="max-width:100%;" width="160"></a>
        <a target="_blank" href="https://f-droid.org/app/im.vector.app" rel="nofollow"><img
                src="https://github.com/vector-im/element-android/raw/develop/resources/img/f-droid-badge.png"
                alt="Get it on F-Droid" style="max-width:100%;" width="160"></a>
        <a target="_blank" href="https://itunes.apple.com/us/app/element/id1083446067?mt=8" rel="nofollow">
            <img alt="Download on the app store"
                src="https://camo.githubusercontent.com/57b9e9e90565e8c498f122d264b59280c99d1901b156e1539c2e87406e06f647/68747470733a2f2f6c696e6b6d616b65722e6974756e65732e6170706c652e636f6d2f696d616765732f6261646765732f656e2d75732f62616467655f61707073746f72652d6c72672e737667"
                data-canonical-src="https://linkmaker.itunes.apple.com/images/badges/en-us/badge_appstore-lrg.svg"
                style="max-width:100%;" width="160">
        </a>
    </div>
</section>